<div>
  <div class="flex align-items-center justify-content-between">
    <p class="title">Участники ({{ participants()?.length }})</p>
    <p (click)="showListParticipants()" class="see-all cursor-pointer">Смотреть всех</p>
  </div>
  <div class="wrap-participants">
    @for (participant of participants() | slice: 0 : 5; track participant) {
      <div
        class="flex align-items-center justify-content-center flex-column cursor-pointer"
        [routerLink]="Urls.PROFILE_URL(participant.id)"
      >
        <p-image [src]="randomLogo" width="70" height="70"></p-image>
        <p class="name mt-3 text-center">{{ participant.firstName }}</p>
        <p class="name mt-2 text-center">{{ participant.lastName }}</p>
      </div>
    }

    <div (click)="show()" class="flex align-items-center justify-content-center flex-column cursor-pointer">
      <svg-icon src="holder.svg"></svg-icon>
      <p class="name text-center mt-3">Добавить</p>
    </div>
  </div>
</div>
