<div>
  <div class="flex align-items-center justify-content-between">
    <p class="title">Участники</p>
    <p class="see-all">Смотреть всех</p>
  </div>
  <div class="wrap-participants">
    @for (participant of participants(); track participant) {
      <div class="flex align-items-center justify-content-center flex-column">
        <p-image [src]="randomLogo" width="70" height="70"></p-image>
        <p class="name mt-3">{{ participant.firstName }} {{ participant.lastName }}</p>
      </div>
    }

    <div class="flex align-items-center justify-content-center flex-column">
      <svg-icon src="holder.svg"></svg-icon>
      <p class="name mt-3">Добавить</p>
    </div>
  </div>
</div>
