<div class="intro flex">
  <div>
    <h1 class="white-space-nowrap">Тайный Санта</h1>
    <p>Организуй тайный обмен подарками между коллегами!</p>
    <p-button
      class="cursor-pointer"
      label="Создать игру"
      size="large"
      [routerLink]="Urls.BOX_CREATE_URL"
    />
  </div>
  <div class="img-box">
    <img class="img" src="intro.svg" alt="" />
  </div>
</div>

<div class="about__intro flex">
  <div class="img"><img src="intro-about.svg" alt="" /></div>
  <div class="wrap-text">
    <h2 class="title">Об игре</h2>
    <p>
      Суть игры состоит в обмене подарками между участниками. Имя человека, которому вы дарите
      подарок, выбирается случайным образом и сообщается только вам. До момента обмена подарками
      никто не знает, кто кому дарит подарок. И ни один участник, не знает, кому выпало его имя.
    </p>
  </div>
</div>

<div class="how-it-works flex flex-column justify-content-center align-items-center">
  <h2 class="text-center title">Как это работает?</h2>

  <ul>
    <li class="flex align-items-center">
      <div class="circle"></div>
      Организатор жеребьевки создает “коробку”, в которой все участники будут складывать карточки и
      приглашает участников присоединиться.
    </li>
    <li class="flex align-items-center">
      <div class="circle"></div>
      Участники пишут свое имя и пожелание подарка (не обязательно) на карточке.
    </li>
    <li class="flex align-items-center">
      <div class="circle"></div>
      Когда все карточки на месте, оганизатор нажимает кнопку жеребьевки и участники узнают имя
      своего подопечного — ему нужно подготовить подарок.
    </li>
  </ul>

  <p-button size="large" label="Создать коробку" [routerLink]="Urls.BOX_CREATE_URL" />
</div>

<ss-footer />
