<div class="wrap flex align-items-center justify-content-center flex-column">
  <h2 class="title">Создание коробки</h2>

  <form [formGroup]="createBoxForm()" (ngSubmit)="submit()" class="wrap__form">
    <div class="flex align-items-end gap-3">
      <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>

      <div class="flex flex-column w-full">
        <label class="mb-2" for="nameBox">Название коробки </label>
        <input pInputText id="nameBox" formControlName="name" />
      </div>
    </div>

    <div class="calendar">
      <div class="flex flex-column w-full">
        <label class="mb-2" for="startDate">Принимаем участников до </label>
        <p-calendar id="startDate" [showIcon]="true" formControlName="inviteEndDate" />
      </div>
      <div class="flex flex-column w-full">
        <label class="mb-2" for="endDate">Покупаем подарки до </label>
        <p-calendar id="endDate" [showIcon]="true" formControlName="meetingDate" />
      </div>
    </div>

    <div class="price">
      <div class="flex flex-column w-full">
        <label class="mb-2" for="priceFrom">Сумма подарка от</label>
        <p-inputNumber id="priceFrom" formControlName="minGiftValue" />
      </div>
      <div class="flex flex-column w-full">
        <label class="mb-2" for="priceTo">Сумма подарка до</label>
        <p-inputNumber id="priceTo" formControlName="maxGiftValue" />
      </div>
    </div>

    <div class="flex flex-column place w-full">
      <label class="mb-2" for="place">Место проведения</label>
      <input pInputText id="place" formControlName="location" />
    </div>

    <div class="flex flex-column place w-full">
      <label class="mb-2" for="place">Описание</label>
      <textarea
        id="place"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description"
      ></textarea>
    </div>

    <div class="flex align-items-center mt-3 mb-3 gap-2">
      <p-inputSwitch formControlName="showResults" />
      <p>Показать результат</p>
    </div>

    <p-button
      type="submit"
      label="Создать коробку"
      [disabled]="isSubmitButtonDisabled()"
      [icon]="submitButtonIcon()"
    />
  </form>
</div>

<div class="img"></div>

<ng-template #iconTemplate>
  <ng-container *ngIf="iconBox(); else defaultIcon">
    <p-image [src]="iconBox()" alt="Image" width="50" height="50" />
  </ng-container>

  <ng-template #defaultIcon>
    <svg-icon src="cross.svg" class="cursor-pointer" (click)="showSelectBoxIconDialog()"></svg-icon>
  </ng-template>
</ng-template>
