<h2>Войти</h2>
<div class="card flex justify-content-center mt-6">
  <form [formGroup]="formSingIn" (ngSubmit)="submit()" class="flex flex-column">
    <label class="mb-2" for="username">Электронная почта</label>
    <input pInputText id="username" formControlName="email" />
    <label class="mb-2 mt-3" for="password">Пароль</label>
    <p-password formControlName="password" id="password" [feedback]="false" />
    <p-button type="submit" class="mx-auto mt-4" label="Войти" />
  </form>
</div>

<div class="img"></div>