:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

@media screen and (max-width: 769px) {
  :host {
    gap: 20px;
    justify-content: start;
    margin-top: 30px;
    padding: 20px;
  }
}
