<h2>Зарегистрироваться</h2>
<div class="flex mt-6">
  <form [formGroup]="form()" (ngSubmit)="submit()" class="flex flex-column">
    <label class="mb-2" for="firstName">Имя</label>
    <input pInputText id="username" formControlName="firstName" class="w-full" />
    <label class="mb-2 mt-3" for="email">Электронная почта</label>
    <input pInputText id="email" formControlName="email" class="w-full" />
    <label class="mb-2 mt-3" for="password">Пароль</label>
    <p-password class="w-full" formControlName="password" id="password" />
    <label class="mb-2 mt-3" for="confirmPassword">Подтвердите пароль</label>
    <p-password class="w-full" formControlName="confirmPassword" id="confirmPassword" />
    <p-button type="submit" class="mx-auto mt-4" label="Зарегистрироваться" />
  </form>
</div>

<div class="img"></div>
