<div class="wrap">
  <div class="flex align-items-center">
    <svg-icon src="image-prof.svg"></svg-icon>
    <h2 class="name">Мой профиль</h2>
  </div>

  <div class="info">
    <h3 class="title">Основная информация</h3>
    <div class="flex info__wrap">
      <p class="info__field">Имя:</p>
      <p class="info__data">Богдана</p>
    </div>
    <div class="flex info__wrap">
      <p class="info__field">Пол:</p>
      <p class="info__data">Женский</p>
    </div>
    <div class="flex info__wrap">
      <p class="info__field">Email:</p>
      <p class="info__data">valentina&#64;example.ru</p>
    </div>
  </div>

  <div class="section">
    <h3 class="title mb-4">О Себе</h3>
    <textarea rows="5" class="w-full"  [autoResize]="true" pInputTextarea></textarea>
  </div>

  <div class="section">
    <h3 class="title">Мои Коробки</h3>
    <div class="section__wrap">
      @for (box of userBoxes(); track $index) {
        <div class="box">
          <ss-box-icon [type]="box.type"></ss-box-icon>
          <span>{{ box.name }}</span>
        </div>
      }
    </div>
  </div>

  <div class="section">
    <div class="flex align-items-center gap-2">
      <h3 class="title">Мои интересы</h3>
      <p>(Добавлять по одному)</p>
    </div>
    <div class="card p-fluid">
      <p-chips />
    </div>
  </div>
</div>
<div class="img"></div>
