<div class="card flex justify-content-center">
  <p-button (onClick)="op.toggle($event)" icon="pi pi-share-alt" label="Share" />
  <p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-25rem">
      <div>
        <span class="font-medium text-900 block mb-2">Share this document</span>
        <p-inputGroup>
          <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-25rem" />
          <p-inputGroupAddon>
            <i class="pi pi-copy"></i>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
      <div>
        <span class="font-medium text-900 block mb-2">Invite Member</span>
        <div class="flex">
          <p-chips disabled />
          <p-button label="Invite" icon="pi pi-users" />
        </div>
      </div>
    </div>
  </p-overlayPanel>
</div>
