<ng-container
  [ngTemplateOutlet]="currentUser() ? authorized : unauthorized"
  [ngTemplateOutletContext]="{ $implicit: currentUser() }"
></ng-container>

<ng-template #unauthorized>
  <div class="flex justify-content-between">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
    <p-button size="small" [routerLink]="urls.SIGN_IN_URL" label="Войти" />
  </div>
</ng-template>

<ng-template #authorized let-user>
  <div class="flex justify-content-between">
    <ng-container *ngTemplateOutlet="logo"></ng-container>

    <p-button size="small">
      <p-avatar size="normal" src="https://avatars.githubusercontent.com/u/11832552" />
      {{ user.firstname }} {{ user.lastName }}
    </p-button>
  </div>
</ng-template>

<ng-template #logo>
  <img src="" alt="Secret Santa" />
</ng-template>
