<ng-container
  [ngTemplateOutlet]="currentUser() ? authorized : unauthorized"
  [ngTemplateOutletContext]="{ $implicit: currentUser() }"
></ng-container>

<ng-template #menu>
  <div class="flex align-items-center gap-2 cursor-pointer" [routerLink]="Urls.INTRO_URL">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
    <p class="font-semibold white-space-nowrap">Тайный Санта</p>
  </div>
  <div class="menu__link">
    <a class="cursor-pointer" (click)="redirectToIntro()">Об игре</a>
    <p class="cursor-pointer" (click)="redirectToIntro()">Правила</p>
  </div>
  <div class="cursor-pointer burger" (click)="toggleMenu()">
    <div class="burger-line"></div>
  </div>
</ng-template>

<ng-template #unauthorized>
  <div class="menu">
    <ng-container *ngTemplateOutlet="menu"></ng-container>

    <p-button [routerLink]="Urls.SIGN_IN_URL" class="cursor-pointer" label="Войти" severity="danger" />
  </div>
</ng-template>

<ng-template #authorized let-user>
  <div class="menu">
    <ng-container *ngTemplateOutlet="menu"></ng-container>

    <div class="gap-2 desktop">
      <p-button size="small" [routerLink]="Urls.PROFILE_URL(user.id)"> {{ user.firstName }} {{ user.lastName }} </p-button>
      <p-button size="small" icon="pi pi-sign-out" [text]="true" (onClick)="logout.emit()"></p-button>
    </div>
  </div>
</ng-template>

<ng-template #logo>
  <svg-icon src="logo.svg" [routerLink]="Urls.INTRO_URL"></svg-icon>
</ng-template>

@if (isVisibleMenu()) {
  <div class="menu__link-mob">
    <div class="button" (click)="toggleMenu()">
      <div class="cross"></div>
    </div>
    <div class="link">
      <ng-container *ngTemplateOutlet="logo"></ng-container>
      @if (currentUser()) {
        <p-button size="small" (onClick)="redirectToProfile()">
          {{ currentUser().lastName }} {{ currentUser().firstName }}
        </p-button>
      }
      <p class="cursor-pointer" (click)="redirectToIntro()">Об игре</p>
      <p class="cursor-pointer" (click)="redirectToIntro()">Правила</p>

      <div class="flex gap-2">
        @if (currentUser()) {
          <p-button size="small" icon="pi pi-sign-out" label="Выйти" [text]="true" (onClick)="logoutClick()"></p-button>
        } @else {
          <p-button size="small" icon="pi pi-sign-in" label="Войти" severity="danger" (onClick)="signInClick()" />
        }
      </div>
    </div>
  </div>
}
