@import url('styles/theme/theme.css');
@import 'primeng/resources/primeng.css';

html, body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
