<div class="bg" *ngIf="data$ | async as info">
  <div class="flex align-items-center justify-content-between">
    <div class="flex align-items-center gap-3">
      <p-image width="50" height="50" [src]="info.icon"></p-image>
      <p class="title">{{ info.name }}</p>
    </div>
    <p-button
      class="delete-button"
      label="Удалить коробку"
      severity="secondary"
      [text]="true"
      (onClick)="deletebox()"
    />
  </div>

  <p class="subtitle">
    {{ info.description }}
  </p>
  <div class="base-info">
    <h3>Основная информация</h3>
    <div class="flex align-items-center justify-content-between mb-2">
      <p class="head">Принимаем участиков до</p>
      <p class="text">{{ info.inviteEndDate | dateFormat: 'DD.MM.YYYY' }}</p>
    </div>
    <div class="flex align-items-center justify-content-between mb-2">
      <p class="head">Покупаем подарки до</p>
      <p class="text">{{ info.meetingDate | dateFormat: 'DD.MM.YYYY' }}</p>
    </div>
    <div class="flex align-items-center justify-content-between mb-2">
      <p class="head">Сумма подарка от</p>
      <p class="text">{{ info.minGiftValue }} руб.</p>
    </div>
    <div class="flex align-items-center justify-content-between mb-2">
      <p class="head">Сумма подарка до</p>
      <p class="text">{{ info.maxGiftValue }} руб.</p>
    </div>
    <div class="flex align-items-center justify-content-between mb-4">
      <p class="head">Место проведения</p>
      <p class="text">{{ info.location }}</p>
    </div>

    <p-button label="Запустить Санту" />
  </div>
</div>
<div>
  <ss-participants [participants]="(data$ | async)?.participants" />
  <ss-santa-info></ss-santa-info>
</div>
